@font-face {
  src: url(../Inter/Inter/Inter-Regular.woff2) format("woff2"),
    url(../Inter/Inter/Inter-Regular.woff) format("woff");
  font-family: "Inter";
  font-weight: normal;
}

@font-face {
  src: url(../Inter/Inter/Inter-SemiBold.woff2) format("woff2"),
    url(../Inter/Inter/Inter-SemiBold.woff) format("woff");
  font-family: "Inter";
  font-weight: 600;
}
